.motion_wrapper {
  position: absolute;
  bottom: 0;
  background-color: white;
}

.detailed_view {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0px -5px 5px -5px rgba(107,107,107,.4);
}
