button.button {
  padding: 10px;
  width: 100%;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 13px;
  outline: none;
}

button.button:focus {
  box-shadow: 0 0 3pt 2pt #ccc;
}

.common_close {
  width: 25px;
  height: 25px;
  background-image: url('../icons/x.svg');
  opacity: .4;
  transition: all .3s ease;
}

.common_close:hover {
  opacity: 1;
  cursor: pointer;
}

.container_100 {
  height: calc(100% - 70px);
}

.items_wrapper_flex {
  margin-top: 70px;
  display: flex;
  height: 100%;
  flex-direction:column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.burger-menu {
  display: block;
  width: 24px;
  margin-top: 10px;
}

.burger-menu:hover {
  cursor: pointer;
}

.burger-menu:before,
.burger-menu:after {
  background-color: #000;
  content: '';
  display: block;
  height: 2px;
  transition: all 200ms ease-in-out;
}
.burger-menu:before {
  box-shadow: 0 8px 0 #000;
  margin-bottom: 14px;
}
.burger-menu.x:before {
  box-shadow: 0 0 0 #000;
  transform: translateY(8px) rotate(45deg);
}
.burger-menu.x:after{
  transform: translateY(-8px) rotate(-45deg);
}
