#detailed {
  padding-top: 12px;
}

#detailed > .header {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}

#detailed > .header > .title {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 8px;
}

#detailed > .market {
  font-size: 16px;
  padding: 0 12px;
  color: #ccc;
  text-transform: uppercase;
  margin-bottom: 12px;
}

#detailed > .header > .title > .fav {
  display: inline-block;
  vertical-align: middle;
  font-size: 9px;
  line-height: 9px;
  margin-left: 6px;
  padding: 4px 5px;
  border-radius: 3px;
  border: 1px solid var(--green);
  color: var(--green);
  width: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1px;
}

#detailed > .header > .title > .fav:hover {
  opacity: 1;
  cursor: pointer;
}

.fav.faved {
  background-color: var(--green);
  color: #fff!important;
}

#detailed > .header > .title > .fav > * {
  vertical-align: center;
}

#detailed > .header > .close {
  width: 25px;
  height: 25px;
  background-image: url('../icons/x.svg');
  opacity: .4;
  transition: all .3s ease;
}

#detailed > .header > .close:hover {
  opacity: 1;
  cursor: pointer;
}

#detailed > .title > .volume {
  font-size: 12px;
}

#detailed > .prices,
#detailed > .labels {
  display: flex;
}

#detailed > .labels {
  font-size: 11px;
  font-weight: bold;
  text-align: left;
  letter-spacing: .1px;
}

#detailed > .prices.last {
  margin-bottom: 12px;
}

#detailed > .labels > .item,
#detailed > .prices > .item {
  text-transform: uppercase;
  padding: 4px 0 0 12px;
  width: 25%;
}

