#filter_box {
  padding-top: 10px;
  background-color: white;
  position: sticky;
  top: 70px;
  z-index: 99;
}

.filterbox-toggle {
  border-bottom: 1px solid #eaeaea;
}

.filterbox-toggle > .close {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  background-image: url('../icons/chevron-down.svg');
  opacity: .4;
  transition: all .3s ease;
}

.filterbox-toggle > .open {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  background-image: url('../icons/chevron-up.svg');
  opacity: .4;
  transition: all .3s ease;
}

.filterbox-toggle > .close:hover,
.filterbox-toggle > .open:hover {
  cursor: pointer;
}

.pill {
  color: white;
  display: inline-block;
  vertical-align: middle;
  font-size: 9px;
  line-height: 9px;
  margin-left: 6px;
  padding: 4px 5px;
  border-radius: 3px;
  min-width: 30px;
  text-transform: uppercase;
  letter-spacing: .1px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filterbox-toggle > .pill.filter {
  background-color: #2980b9;
}

.filterbox-toggle > .pill.query {
  background-color: #8e44ad;
}

.filterbox-toggle > .input_label {
  margin-bottom: 0;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  color: gray;
}

