#filter_box {
  position: fixed;
  top: 70px;
  width: 100%;
  background-color: white;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #eaeaea;
  height: 60px;
}

.filters_compact {
  display: flex;
}

.filters_compact > .left {
  width: 100%;
}

.filters_compact > .right {}

.filters_compact > .input_label {
  margin-bottom: 0;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  color: gray;
}

.left > .pills {
  display: flex;
}

.pill {
  flex-basis: auto;
  color: white;
  margin-right: 3px;
  max-width: 100px;
  font-size: 9px;
  line-height: 9px;
  padding: 4px 5px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: .1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: black;
}

