@import url("_colors.css");
@import url("common.css");
@import url("detailed.css");
@import url("live.css");

html {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: .5px;
  color: #000;
  position: relative;
}

#container {
  width: 100%;
  height: 100%;
}

#wrapper {
  margin-top: 50px;
}

/* common */

#header {
  z-index: 100;
  height: 50px;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 17px 0 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  color: white;
  font-size: 12px;
  border-bottom: 1px solid #eaeaea;
  border-radius: 6px 6px 0 0;
  -webkit-app-region: drag;
}

span.dynamics.green {
  font-weight: 300;
  color: var(--green);
  font-size: 11px;
}

.dropdown {
  margin-top: 10px;
  display: flex;
  background-color: #f3f3f3;
  top: 30px;
  padding: 12px;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.dropdown > .pill {
  padding: 5px 9px;
  margin-left: 12px;
  font-size: 12px;
  line-height: 14px;
  border: 1px solid rgba(151, 151, 151, .3);
  border-radius: 12px;
  transition: hover .2s ease-in;
}

.dropdown > .pill:hover {
  background-color: #fff;
}

.dropdown > .pill:first-child {
  margin-left: 0px;
}

.dropdown > .pill:hover{
  cursor: pointer;
}


/*  --------- Profile --------- */

.profile_wrapper,
.settings_wrapper {
  width: 100%;
  height: 100%;
  background-color: #657AF3;
}

.profile_wrapper > .back_arr,
.settings_wrapper > .back_arr {
  padding: 20px;
}

/*  --------- Portfolio --------- */

#portfolio_wrapper {
  margin-top: 50px;
}

.add_rec_wrapper {
  display: flex;
  padding: 15px;
  padding-left: 0px;
  position: relative;
}

.add_rec_input {
  display: block;
  width: 33%;
}

input.input_item {
  border: none;
  font-size: 16px;
  padding: 0px 10px 0 10px;
}

input.input_item {
  outline: none;
}

.folio_row {
  display: flex;
  border-top: 1px solid rgba(151, 151, 151, .1);
  padding: 12px;
}

.folio_row:last-child {
  border-bottom: 1px solid rgba(151, 151, 151, .1);
}

.folio_row > .content {
  width: 60%;
}

.folio_row > .content > * {
  display: inline-block;
  margin-right: 10px;
}

.folio_row > .actions {
  width: 40%;
}

.content > .title {
  font-size: 19px;
  line-height: 21px;
}

.content > .market {
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
}

.content > .amount {
  font-size: 17px;
  line-height: 17px;
}

.folio_row > .actions > * {
  display: inline-block;
}

.actions > .delete,
.actions > .edit {
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  padding: 3px 7px;
  border-radius: 4px;
  margin-left: 10px;
  transition: all .15s ease;
}

.actions > .edit {
  color: var(--blue);
  border: 1px solid var(--blue);
}

.actions > .edit:hover {
  color: white;
  background-color: var(--blue);
  cursor: pointer;
}

.actions > .delete {
  color: var(--red);
  border: 1px solid var(--red);
}

.actions > .delete:hover {
  color: white;
  background-color: var(--red);
  cursor: pointer;
}


/* UI switch */

input.checkbox {
  display: none;
  opacity: 0;
}

label {
  width: 60px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  background: rgb(189, 189, 189);
  border-radius: 30px;
  transition: background-color 0.2s;
}

label:after {
  left: 0;
  width: 22px;
  height: 22px;
  margin: 4px;
  content: '';
  position: absolute;
  background: #FFF;
  border-radius: 11px;
}

input:checked + label {
  background: var(--green);
}

input:checked + label:after {
  left: auto;
  right: 0;
}
