@import url('https://rsms.me/interface/interface.css');

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
  width: 0 !important
}

body {
  font-family: Interface, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: .5px;
}

/*
 blue #4141e0
 dark #2c2cb1
*/

#header {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #657AF3;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
}

#toggle {
  display: flex;
  justify-content: space-around;
  width: 60%;
  -webkit-user-select: none;
}

.toggle_btn {
  padding: 6px 10px;
  text-align: center;
  border: 1px solid white;
  width: 50%;
}

.bestprice_btn {
  border-right: 0;
  border-radius: 4px 0 0 4px;
}

.bestprice_btn:hover {
  cursor: pointer;
}

.market_btn {
  border: 1px solid white;
  border-radius: 0 4px 4px 0;
}

.market_btn:hover {
  cursor: pointer;
}

.market_btn.active,
.bestprice_btn.active {
  color: #4141e0;
  background-color: #fff;
}

/* Wrapper */

#wrapper {
  margin-top: 60px;
}

.currency_row {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

