@keyframes highlight_green {
  0% {
    background-color: var(--green);
    opacity: .3;
  }
  100% {
    background-color: white;
    opacity: 1;
  }
}

@keyframes highlight_red {
  0% {
    background-color: var(--red);
    opacity: .3;
  }
  100% {
    background-color: white;
    opacity: 1;
  }
}

.row_wrap {
  display: flex;
  padding: 10px 0;
}

.row_wrap:hover {
  background-color: rgba(151, 151, 151, .05);
  cursor: pointer;
}

.left_cell {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 12px;
}

.left_cell > .title {
  line-height: 17px;
  font-size: 15px;
}

.left_cell > .market {
  line-height: 17px;
  text-transform: uppercase;
  color: #ccc;
}

.right_cell {
  width: 50%;
  text-align: right;
  font-size: 17px;
  line-height: 17px;
  vertical-align: top;
  padding-right: 12px;
}

.right_cell > span.price_up {
  animation: 1s ease-out 0s 1 highlight_green;
}

.right_cell > span.price_down {
  animation: 1s ease-out 0s 1 highlight_red;
}

.right_cell > .swing {
  line-height: 14px;
  color: var(--green);
  font-size: 11px;
}

