.portfolio_container {
  margin-top: 70px;
}

.portfolio_stats {
  width: 100%;
  background-color: #fff;
  z-index: 100;
  position: fixed;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 30px;
}

.total_worth {
  background-color: white;
  padding: 20px 10px;
}

.title {
  font-size: 17px;
  line-height: 17px;
}

.total_worth > .num {
  margin-top: 10px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}

.portfolio_list {
  position: absolute;
  top: 400px;
  width: 100%;
  overflow: scroll;
}

.portfolio_toolbar {
  height: 80px;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #eaeaea;
}

.form_empty_list {
  padding: 70px 0;
  margin: 0 auto;
  text-align: center;
  max-width: 60%;
  text-transform: uppercase;
  line-height: 1.4em;
  color: #ccc;
}

.form_wrap {
  padding: 0 12px;
}

.add_rec_input {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  position: relative;
}

input.input_item {
  font-size: 13px;
  outline: none;
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.right_cell {
  font-size: 13px;
  text-transform: uppercase;
}

.input_label {
  text-transform: uppercase;
  color: #ccc;
}
